*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
}

.header {
}

.mainNav {
    background-color: black;
    height: 70px;
    
}

.header_logo{
    margin: 0 40px 0 20px;
}

.header_logo h1{
    color:tomato; 
    text-transform: uppercase; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 0 3px 4px white;
    height: 70px;
    line-height: 70px;
}


.mainNav nav li {
    list-style: none;
    display: inline-block;
    position: relative;
}

.mainNav nav li a {
    color: white;
    display: block;
    height: 70px;
    line-height: 70px;
    padding: 0 25px;
    text-align: center;
}

.mainNav nav li a:hover {
    background-color: tomato;
    font-size: large;
}

.mainNav nav ul {
    position: absolute;
    display: none;
}

.mainNav nav li:hover ul{
    display: block;
    background-color: black;
}

.mainNav nav ul li {

}

.mainNav nav ul a {
    text-align: left;
    width: 250px;
}


.calculator_header {
   margin-bottom: 20px; 
}


.input1 {
    font-size: 17px;
    text-align: center;
    height: 100px; 
    width: 260px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 3px 6px black;
}

.input2 {
    font-size: 17px;
    text-align: center; 
    margin: 0 auto 20px;
    padding: 5px;
    height: 100px; 
    width: 260px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(36, 36, 36);
}

.inputchange1 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    padding: 0 10px;
    margin: 0 10px;
    text-align: left;
    height: 55px; 
    line-height: 50px; 
    width: 230px;
    border-bottom: 4px solid;
    border-radius: 10px;
    opacity: 0.5;
}

.inputchange2 {
    font-size: 28px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0 20px;
    color: green;
    text-align: right;
    height: 35px;
    line-height: 35px; 
    width: 250px;
    opacity: 0.5;
}

button {
    background-color: lightblue;
    width: 70px;
    height: 40px;
    font-size: large;
    font-weight: bold;
    margin: 5px 10px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}

button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.sign {
    background-color: tomato;
}

a {
    text-decoration: none;
}

#footer {
    padding: 30px;
    color: white;
    text-align: center;
    background-color: black;
    clear: both;
}
