*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 5px;
    border-radius: 10px;
    border: 1px solid red;
}

.header {
    margin: 0px;
    width:100%;
}

.mainNav {
    width:100%;
}

.mainNav ul {
    list-style: none;
    width:100%;
}

.mainNav ul li {
    float: left;
    padding: 0 5px;
    position: relative;
}

.mainNav ul li a {
    display: block;
    background-color: tomato;
    color: white;
    padding: 10px 15px;
    text-align: center;
    border-radius: 10px;
}

.mainNav ul ul {
    position: absolute;
    width: 200px;
}

.mainNav ul ul li {
    float: none;
    padding: 0;
}


.childNav ul li a {
    text-align: left;
}
 */

/* .mainNav ul li ul li {
    
} */


#input {
    height: 40px; 
    width: 260px;
    border-radius: 10px;
}

button {
    background-color: lightblue;
    width: 70px;
    height: 40px;
    font-size: large;
    font-weight: bold;
    margin: 10px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}

button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.sign {
    background-color: lightcoral;
}

a {
    text-decoration: none;
}

#footer {
    padding: 30px;
    color: white;
    text-align: center;
    background-color: black;
    clear: both;
}
.socials a {
    text-transform: capitalize;
    font-size: large;
    display: inline-block;
    width: 100px;
    height: 40px;
    margin-left: 20px;
}

.socials a img {
    float: right;
    width: 20px;
    height: 20px;
}
#img {
    text-align: center;
}
